# dependencies (bun install)
node_modules

# output
app/.astro
out
dist
dist-app
*.tgz

# generated API docs
app/src/content/docs/api

# code coverage
coverage
*.lcov

# performance logs
test-runner-profile

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
tests/.asset-cache

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# local archive
archive
