/* Custom Theme - "biscuit" palette with Sora variable font */

:root,
::backdrop {
  /* Change default font */
  --sl-font: "Sora Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --sl-font-headings: var(--sl-font);
  --sl-font-system: var(--sl-font);

  /* Dark mode colors */
  --sl-hue-base: 40;
  --sl-hue-accent: 80;

  /* Width of main content on pages with sidebars */
  --sl-content-width: 55rem;
}

/* Light mode colors */
:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-hue-accent: 90;
}

/* In Markdown content, allow multiple images, videos, etc. on the same line */
.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
  display: inline-block;
}
