name: release-and-publish

on:
  push:
    branches:
      - main

  # Allows workflow to be run manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write
  id-token: write # Required for OIDC when publishing to npm
  issues: write
  pages: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        id: app-token
        with:
          app-id: ${{ vars.CI_RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.CI_RELEASE_BOT_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json

  publish-npm:
    runs-on: ubuntu-latest
    needs: release
    if: ${{needs.release.outputs.release-created}}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build package
        run: pnpm build

      - name: Publish
        run: pnpm publish --access public

  deploy-gh-pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: release
    if: ${{needs.release.outputs.release-created}}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build the demo webapp and docs
        run: pnpm build:app

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist-app

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
